<div
  class="modal modal-open backdrop-blur-sm animate-in fade-in duration-300"
  role="dialog"
  aria-modal="true"
  aria-labelledby="editor-title"
>
  <div
    class="modal-box relative flex h-full w-full max-w-[1500px] flex-col border border-base-300 bg-base-200 p-0 shadow-2xl animate-in zoom-in-95 duration-300 md:h-[95vh] md:w-[98vw] md:rounded-xl"
  >
    <!-- Header Navbar -->
    <app-editor-nav
      [isSubmitting]="isSubmitting()"
      (closeEditor)="onEditorClosed()"
      (runCode)="onRunCode()"
    />

    <!-- Main Content Area -->
    <main class="relative z-10 overflow-hidden flex-1 p-4">
      <as-split
        direction="horizontal"
        (dragEnd)="handleSplitDrag('main', $event)"
        [gutterSize]="10"
        class="rounded-xl"
      >
        <!-- Description Section -->
        <as-split-area [size]="mainSplitSizes()[0]" [minSize]="4">
          <app-editor-desc
            [content]="description()"
            [isCollapsed]="isDescriptionCollapsed()"
            (toggleCollapse)="toggleDescription()"
          />
        </as-split-area>

        <!-- Editor and Terminal Section -->
        <as-split-area [size]="mainSplitSizes()[1]">
          <as-split
            direction="vertical"
            (dragEnd)="handleSplitDrag('right', $event)"
            [gutterSize]="10"
          >
            <!-- Editor Section -->
            <as-split-area [size]="rightSplitSizes()[0]" [minSize]="6">
              <app-editor-code
                [(code)]="code"
                [isCollapsed]="isEditorCollapsed()"
                [options]="editorOptions"
                [fileName]="'solution.ts'"
                (toggleCollapse)="toggleEditor()"
              />
            </as-split-area>

            <!-- Terminal / Test cases Section -->
            <as-split-area [size]="rightSplitSizes()[1]" [minSize]="6">
              <app-editor-panel
                [activeTab]="terminalTab()"
                (activeTabChange)="onActiveTabChange($event)"
                [(expectedOutput)]="expectedOutput"
                [isCollapsed]="isTerminalCollapsed()"
                (toggleCollapse)="toggleTerminal()"
              />
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </main>
  </div>
</div>
