:host {
  display: block;
  height: 100%;
}

/* Customizing angular-split gutters */
/* Note: ::ng-deep is used here as angular-split doesn't provide a better way to style gutters */
:host ::ng-deep .as-split-gutter {
  background-color: transparent !important;
  position: relative;
}

/* Horizontal split gutter (the vertical line) */
:host ::ng-deep as-split[direction='horizontal'] > .as-split-gutter::before {
  content: '';
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: transparent;
  transition: all 0.2s;
  border-radius: 4px;
}

:host ::ng-deep as-split[direction='horizontal'] > .as-split-gutter:hover::before {
  background-color: var(--color-base-300);
  width: 4px;
}

/* Vertical split gutter (the horizontal line) */
:host ::ng-deep as-split[direction='vertical'] > .as-split-gutter::before {
  content: '';
  position: absolute;
  left: 12px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: transparent;
  transition: all 0.2s;
  border-radius: 4px;
}

:host ::ng-deep as-split[direction='vertical'] > .as-split-gutter:hover::before {
  background-color: var(--color-base-300);
  height: 4px;
}

/* Ensure the split component takes full height */
as-split {
  height: 100%;
  background-color: transparent;
}
